<div class="container_bigCard">
	<div class="bigcard_photo">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgsJI6dAMabL5VCeH9j96cEUkNwpkuyZN5Tw&usqp=CAU"
		alt="minha imagem"
		height="200px"
		width="">
	</div>
	<div class="bigcard_title">
			<h1> <a href="#">Nova versao do angular	</a></h1>
	</div>
	<div class="bigcard_descript">
		<p>
			<a href="#">
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			</a>
		</p>
	</div>
</div>
